* {
  padding: 0;
  margin: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.7em;
  font-family: Helvetica, Aria, sans-serif;
}

h1 {
  font-size: 5.5em;
  line-height: 1.25em;
  margin: 30px auto .3em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}


h2 {
  font-size: 4.5em;
  line-height: 1.25em;
  margin: 30px auto .3em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-size: 3.5em;
  font-style: italic;
  line-height: 1.25em;
  margin: 30px auto .3em;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}


body > div {
  text-align: center;
  padding: 5%;
}

#header {
  background-color: #59ade3;
  background-image: url("ba.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  color: #c9e9ff;
}

#header h1, h2 {
  color: #fff;
}

#about {
  background-color: #fa5ba5;
  color: #9e8b21;
}

#about h2 {
  color: #fff;
}

#about p {
  color: #fff;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#register {
  background-color: #303030;
  color: #cfcfcf;
}

#register h2 {
  color: #fff;
}

#register p {
  color: #fff;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#register a {
  color: #cfcfcf;
}

#categories {
  background-color: #9eff36;
  color: #6e8159;
}

#categories h2 {
  color: #000;
}

#categories p {
  color: #000;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#categories span {
  background-color: #fa5ba5;
  color: #000;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  padding: 0 0.5em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#projects {
  background-color: #d4f2ff;
  color: #586c75;
}

#projects h2 {
  color: #000;
}

#thanks {
  background-color: #60e7ff;
  color: #4a7b90;
}

#thanks h2 {
  color: #000;
}

#thanks p {
  color: #000;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#spirits {
  background-color: #fe5618;
  color: #ffd2c2;
}

#spirits h2 {
  color: #000;
}

#spirits p {
  color: #000;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}

#spirits span {
  background-color: #fa5ba5;
  color: #000;
  font-size: 1.5em;
  line-height: 1em;
  margin: 30px auto .3em;
  padding: 0 0.5em;
  letter-spacing: .05em;
  font-family: 'Josefin Sans', sans-serif;
}
